<% unless widget.properties["city"].blank? || widget.properties["country"].blank? %>
	<% temp = get_forecast_weather(widget) %>
	<% unless temp.nil? %>
		<% results = JSON.parse(temp)%>
		<% unless results["list"].nil? %>
			<h3><%= widget.properties["city"].capitalize %>,<small><%= widget.properties["country"].upcase %></small></h3>
			<div class="row-fluid weather-content">
				<div class="span4">
					<h1><small>Now</small></h1>
					<span class="center">
						<img src="http://openweathermap.org/img/w/<%= results["list"][0]["weather"][0]["icon"].to_s %>.png" />
						<strong><%= results["list"][0]["main"]["temp"].round %> &degF</strong>
					</span>
				</div>

				<div class="span4">
					<h1><small>12H</small></h1>
					<span class="center">
						<img src="http://openweathermap.org/img/w/<%= results["list"][4]["weather"][0]["icon"].to_s %>.png" />
						<strong><%= results["list"][4]["main"]["temp"].round %> &degF</strong>
					</span>
				</div>
				<div class="span4">
					<h1><small>24H</small></h1>
					<span class="center">
						<img src="http://openweathermap.org/img/w/<%= results["list"][8]["weather"][0]["icon"].to_s %>.png" />
						<strong><%= results["list"][8]["main"]["temp"].round %> &degF</strong>
					</span>
				</div>
			</div>
		<% else %>
			<div class="row-fluid">
				<div class="span12"><%= "No weather data for #{widget.properties["city"]}, #{widget.properties["country"]}." %></div>
			</div>
		<% end %>
	<% else %>
		<div class="span12"><%= "No weather data for #{widget.properties["city"]}, #{widget.properties["country"]}." %></div>
	<% end %>

<% end %>