<!DOCTYPE html>
<html>
	<head>
		<title><%= full_title(yield(:title)) %></title>
		<%= javascript_include_tag "application" %>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		
		<%= csrf_meta_tags %>
		
		<script>
		    $(document).ready(function(){
		    	$('.addwidget').click(function(){
		    		var name = $(this).children('a')[0].className;
		    		$('#widget_name').attr("value", name);
			    	$('#target').trigger("submit.rails");
			    });
		    });
		</script>
	</head>
	<body class="content">
	<% flash.each do |k, v| %>
		<div class="alert alert-<%= k %>"><%= v %></div>
	<% end %>
		<%= render 'layouts/header' %>
		<%= yield %>

	</body>
</html>
