<!DOCTYPE html>
<html>
	<head>
		<title><%= full_title(yield(:title)) %></title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		
		
		<%= csrf_meta_tags %>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<script>
		    $(document).ready(function(){
		    	$('.addwidget').click(function(){
		    		var name = $(this).children('a')[0].className;
		    		$('#widget_name').attr("value", name);
			    	$('#target').trigger("submit.rails");
			    });
		    });
		</script>
	</head>
	<body class="content">
	<% flash.each do |k, v| %>
		<div class="alert alert-<%= k %>"><%= v %><button class="close" data-dismiss="alert">&times;</button></div>
	<% end %>
		<%= render 'layouts/header' %>
		<%= yield %>

	</body>
</html>
